<%- include('partials/header') %>
    <%- include('partials/header') %>
    <title>Home</title>
</head>
<body>
    <div class="container">
        <div class="row">
                <%- include('partials/navbar') %>


            <div class="col-md-12">
             <!-- Carousel wrapper -->
<div
id="carouselMultiItemExample"
class="carousel slide carousel-dark text-center"
data-mdb-ride="carousel"
>
<!-- Controls -->
<div class="d-flex justify-content-center mb-4">
  <button
    class="carousel-control-prev position-relative"
    type="button"
    data-mdb-target="#carouselMultiItemExample"
    data-mdb-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next position-relative"
    type="button"
    data-mdb-target="#carouselMultiItemExample"
    data-mdb-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<!-- Inner -->
<div class="carousel-inner py-4">
  <!-- Single item -->
  <div class="carousel-item active">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="card">
            <img
              src="https://mdbcdn.b-cdn.net/img/new/standard/nature/181.webp"
              class="card-img-top"
              alt="Waterfall"
            />
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">
                Some quick example text to build on the card title and make up the bulk
                of the card's content.
              </p>
              <a href="#!" class="btn btn-primary">Button</a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 d-none d-lg-block">
          <div class="card">
            <img
              src="https://mdbcdn.b-cdn.net/img/new/standard/nature/182.webp"
              class="card-img-top"
              alt="Sunset Over the Sea"
            />
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">
                Some quick example text to build on the card title and make up the bulk
                of the card's content.
              </p>
              <a href="#!" class="btn btn-primary">Button</a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 d-none d-lg-block">
          <div class="card">
            <img
              src="https://mdbcdn.b-cdn.net/img/new/standard/nature/183.webp"
              class="card-img-top"
              alt="Sunset over the Sea"
            />
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">
                Some quick example text to build on the card title and make up the bulk
                of the card's content.
              </p>
              <a href="#!" class="btn btn-primary">Button</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Single item -->
  <div class="carousel-item">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-12">
          <div class="card">
            <img
              src="https://mdbcdn.b-cdn.net/img/new/standard/nature/184.webp"
              class="card-img-top"
              alt="Fissure in Sandstone"
            />
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">
                Some quick example text to build on the card title and make up the bulk
                of the card's content.
              </p>
              <a href="#!" class="btn btn-primary">Button</a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 d-none d-lg-block">
          <div class="card">
            <img
              src="https://mdbcdn.b-cdn.net/img/new/standard/nature/185.webp"
              class="card-img-top"
              alt="Storm Clouds"
            />
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">
                Some quick example text to build on the card title and make up the bulk
                of the card's content.
              </p>
              <a href="#!" class="btn btn-primary">Button</a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 d-none d-lg-block">
          <div class="card">
            <img
              src="https://mdbcdn.b-cdn.net/img/new/standard/nature/186.webp"
              class="card-img-top"
              alt="Hot Air Balloons"
            />
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">
                Some quick example text to build on the card title and make up the bulk
                of the card's content.
              </p>
              <a href="#!" class="btn btn-primary">Button</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Single item -->
  <div class="carousel-item">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
          <div class="card">
            <img
              src="https://mdbcdn.b-cdn.net/img/new/standard/nature/187.webp"
              class="card-img-top"
              alt="Peaks Against the Starry Sky"
            />
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">
                Some quick example text to build on the card title and make up the bulk
                of the card's content.
              </p>
              <a href="#!" class="btn btn-primary">Button</a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 mb-4 mb-lg-0 d-none d-lg-block">
          <div class="card">
            <img
              src="https://mdbcdn.b-cdn.net/img/new/standard/nature/188.webp"
              class="card-img-top"
              alt="Bridge Over Water"
            />
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">
                Some quick example text to build on the card title and make up the bulk
                of the card's content.
              </p>
              <a href="#!" class="btn btn-primary">Button</a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 mb-4 mb-lg-0 d-none d-lg-block">
          <div class="card">
            <img
              src="https://mdbcdn.b-cdn.net/img/new/standard/nature/189.webp"
              class="card-img-top"
              alt="Purbeck Heritage Coast"
            />
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">
                Some quick example text to build on the card title and make up the bulk
                of the card's content.
              </p>
              <a href="#!" class="btn btn-primary">Button</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Inner -->
</div>
<!-- Carousel wrapper -->
            </div>
            <div class="col-md-12">
             
            </div>
            <div class="col-md-12">
                <form>
                    <fieldset disabled>
                      <legend>Disabled fieldset example</legend>
                      <div class="mb-3">
                        <label for="disabledTextInput" class="form-label">Disabled input</label>
                        <input type="text" id="disabledTextInput" class="form-control" placeholder="Disabled input">
                      </div>
                      <div class="mb-3">
                        <label for="disabledSelect" class="form-label">Disabled select menu</label>
                        <select id="disabledSelect" class="form-select">
                          <option>Disabled select</option>
                        </select>
                      </div>
                      <div class="mb-3">
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" id="disabledFieldsetCheck" disabled>
                          <label class="form-check-label" for="disabledFieldsetCheck">
                            Can't check this
                          </label>
                        </div>
                      </div>
                      <button type="submit" class="btn btn-primary">Submit</button>
                    </fieldset>
                  </form>
            </div>
            <div class="col-md-12">
                <div class="py-14 bg-dark">
                    <div class="container">
                      <div class="row">
                        <div class="offset-lg-2 col-lg-8 col-md-12 col-12 text-center">
                          <span class="fs-4 text-warning ls-md text-uppercase
                            fw-semi-bold">get things done
                   
                          </span>
                          <!-- heading  -->
                          <h2 class="display-3 mt-4 mb-3 text-white fw-bold">Just try it out! You’ll
                            fall in love</h2>
                            <!-- para  -->
                          <p class="lead text-white-50 px-lg-8 mb-6">Designed for modern
                            companies looking to launch
                            a simple, premium and modern website and apps.</p>
                          <a href="#" class="btn btn-primary">Try For Free</a>
                        </div>
                      </div>
                   </div>
                   </div>
              </div>
            </div>
            
             

<%- include('partials/footer') %>